In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import date
import warnings
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# To ignore all warnings:
warnings.filterwarnings("ignore")

In [15]:
ten_years_back = date.today().replace(year=date.today().year - 10)
start = ten_years_back
end = date.today().strftime("%Y-%m-%d")

In [16]:
df = yf.download('ADANIPORTS.NS', start, end)
df.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-08-11,265.600006,272.250000,265.000000,270.000000,256.219971,4305779
2014-08-12,273.000000,274.950012,270.100006,271.350006,257.501068,3262251
2014-08-13,270.250000,275.250000,265.700012,274.399994,260.395386,3863196
2014-08-14,276.000000,276.000000,268.750000,272.399994,258.497528,2321776
2014-08-18,273.799988,277.899994,273.000000,273.600006,259.636230,2499975

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2463 entries, 2014-08-11 to 2024-08-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2463 non-null   float64
 1   High       2463 non-null   float64
 2   Low        2463 non-null   float64
 3   Close      2463 non-null   float64
 4   Adj Close  2463 non-null   float64
 5   Volume     2463 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 134.7 KB